.emacs.d/backup/*
.emacs.swp
.emacs.d/#*
.emacs.d/.emacs.desktop*
.emacs.d/.last-package-update-day
.emacs.d/forge-database.sqlite
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/recentf
.emacs.d/tramp
.emacs.d/.persistent-scratch
.emacs.d/transient/
.emacs.d/url/
.emacs.d/elpa/
.emacs.d/lsp-tmp-*
.emacs.d/.dap-breakpoints
.emacs.d/.lsp-session-v1
