[core]
    excludesfile = ~/.gitignore_global
    pager = less -FRXK
[user]
    name = Justin Schell
    email = justin@gudtech.com
[color]
    ui = auto
[push]
    default = matching
[alias]
    unpushed = !GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git log me/$GIT_CURRENT_BRANCH..$GIT_CURRENT_BRANCH --oneline
    df = diff -w --color-words
[filter "media"]
    clean = git media clean %f
    smudge = git media smudge %f
    required = true
[diff]
    algorithm = histogram
[color "diff"]
    old = blue bold
    new = yellow bold
    meta = cyan
    frag = magenta
[color "diff-highlight"]
    oldNormal = "\\x1b[1;38;5;103;48;5;0m"
    oldHighlight = "\\x1b[1;38;5;12;48;5;236m"
    newNormal = "\\x1b[1;38;5;187;48;5;0m"
    newHighlight = "\\x1b[1;38;5;11;48;5;236m"
[url "git@github.com:"]
	insteadOf = https://github.com/
[github]
	user = schellj
