[core]
	excludesfile = /Users/schellj/.gitignore_global
	pager = less -FRXK
[user]
	name = Justin Schell
	email = justin@gudtech.com
[color]
	ui = auto
[push]
	default = matching
[alias]
	unpushed = !GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git log me/$GIT_CURRENT_BRANCH..$GIT_CURRENT_BRANCH --oneline
	df = diff -w --color-words
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[diff]
	algorithm = histogram
[color "diff"]
	old = blue black bold
	new = yellow black bold
	meta = cyan black
	frag = magenta black
